.footer {
  display: flex;
  flex-direction: column;
  margin: 24px;
  gap: 24px;
}

.footerTxt {
  position: static;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-top: 120px;
  text-align: center;
  width: 100%;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 58px;
  margin-bottom: 124px;
}

.no-outline {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  padding-bottom: 14px;
}

.formTxtArea {
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background: #fbf8f7;
}

.footerHR1 {
  border: solid #dfe1e6;
  width: 100%;
}

.footerHR2 {
  margin: -40px 121px 8px 78px;
  padding: 2.5px 80px;
  background-color: #0d151e;
  border: #0d151e;
  border-radius: 5px;
}

.socialmediaIcons > li {
  filter:
    invert(37%) sepia(8%) saturate(1464%) hue-rotate(179deg)
    brightness(95%) contrast(91%);
}

.socialmediaIcons {
  margin: 15px 63px 13px 64px;
}

.footerBTN {
  align-items: center;
}

::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  position: absolute;
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 768px) {
  .footer_contact {
    display: grid;
    grid-template-areas:
    "A B"
    "A B"
    "A B"
    "A B";
    column-gap: 80px;
    align-content: center
  }
  .item-1 {
    grid-area: A;
  }
  .item-2 {
    grid-area: B;
  }

  .footerHR2 {
    display: none;
  }
}
