.toolbar {
  display: flex;
  background-color: #3c3a39;
  margin: 0%;
  padding: 12px 24px;
  height: fit-content;
}

.textcolor {
  color: #fff;
}

.logo {
  text-decoration: none;
}

div.hov {
  background-color: #fff;
  padding: 5px;
  display: none;
}

.dropdown:focus + div.hov {
  display: block;
}

.dropdown {
  margin-left: auto;
}

.dropdown:hover {
  background-color: #ff6b00;
}
