.Robotofont {
  font-family: "Roboto", sans-serif;
}

.Poppinsfont {
  font-family: "Poppins", sans-serif;
}

.CreteRoundfont {
  font-family: "Crete Round", serif;
}

.Interfont,
.tecnoBTN > li,
.nostyle > li {
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0%;
}

.toolbar {
  background-color: #3c3a39;
  margin: 0%;
  padding: 12px 24px;
  height: fit-content;
}

.dropdown {
  margin-left: auto;
}

.logo {
  text-decoration: none;
}

.textcolor,
.ARTtecnoBTN {
  color: #fff;
}

.MainAboutme,
.headline {
  background-color: #1c1a19;
}

.mainText {
  margin: 0%;
  padding-top: 30px;
  color: #ff6b00;
}

.headline {
  margin: 0%;
  background-image: url(./images/bdimage.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  flex-direction: column;
  align-content: center;
  height: auto;
  padding: 120px 24px;
}

.toolbar,
.headline {
  display: flex;
}

h1,
p,
ul {
  width: 60%;
}

.bgimg {
  float: right;
}

.contactIcons,
.nostyle {
  list-style: none;
}

.contactIcons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0%;
}

.contactIcons > * {
  height: 40px;
  width: 40px;
}

div.hov {
  background-color: #fff;
  padding: 5px;
  display: none;
}

.dropdown:focus + div.hov {
  display: block;
}

.dropdown:hover,
.PrjBTN {
  background-color: #ff6b00;
}

.PrjBTN {
  height: 48px;
  border: none;
  color: #fff;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin-top: 5rem;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.PrjBTN:hover {
  background-color: rgba (255, 107, 0, 1);
}

.footerBTN {
  align-items: center;
}

.worksection {
  margin: 24px;
}

.workheading {
  text-align: center;
}

.multiPost {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

.gymimg {
  margin-top: 80px;
  position: static;
  width: 327px;
  height: 237px;
  top: 0;
  left: 24px;
}

.multiPostText1 {
  margin-bottom: 0%;
  font-size: 32px;
  line-height: 44px;
}

.multiPostText2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.SePrjBTN {
  width: 154px;
  margin-right: 100%;
  position: static;
}

.tecnoBTN,
.ARTtecnoBTN {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
}

.tecnoBTN > li {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  padding: 4px;
  margin: 0 5px;
}

.ArtData {
  background-image: url(./images/Pgbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ArtTxt {
  margin-top: 84px;
}

.ARTtecnoBTN > li {
  background: rgba(255, 255, 255, 0.24);
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  padding: 4px;
  margin: 0 5px;
}

.Txt {
  padding: 24;
}

.Aboutme {
  margin-left: 24px;
  background-image: url(./images/Aboutmebg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  display: grid;
  grid-template-rows: 60px 200px 200px auto;
}

.aboutmeHr > {
  margin: 50px;
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  top: calc(50% - 0px / 2 + 0.5px);
  border: 1px solid #fff;
}

.nostyle {
  color: #fff;
}

.socialmediaIcons > li {
  filter:
    invert(37%) sepia(8%) saturate(1464%) hue-rotate(179deg)
    brightness(95%) contrast(91%);
}

.nostyle > li > ul > li {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.boldfont {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footerTxt {
  position: static;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-top: 120px;
  text-align: center;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 24px;
  gap: 24px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 58px;
  margin-bottom: 124px;
}

.no-outline {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  align-items: center;
  padding-bottom: 14px;
}

.formTxtArea {
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background: #fbf8f7;
}

.socialmediaIcons {
  margin: 15px 63px 13px 64px;
}

.footerHR1 {
  border: 2px solid #dfe1e6;
  width: 100%;
}

::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  position: absolute;
  font-family: "Inter", sans-serif;
}

.line {
  background-color: #0d151e;
  height: 5px;
  width: 134px;
  border-radius: 10px;
  margin: 15px auto 8px auto;
}

.contactBTN {
  display: block;
  margin: auto;
}
